*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{

    font-family:'Poppins',sans-serif;

    background:#F8FAFC;

    color:#1E293B;

}

button{

    font-family:'Poppins',sans-serif;

    cursor:pointer;

    transition:all .3s ease;

}

input,
select,
textarea{

    font-family:'Poppins',sans-serif;

    transition:.3s ease;

}

a{

    text-decoration:none;

    color:inherit;

}

img{

    max-width:100%;

}